body {
    font-family: Helvetica;
}

.hero h1 {
    background-image: url(../images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.product h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product #brush {
    background-color: mediumspringgreen;
}

.product #frame {
    background-color: lightcoral;
}

.product #paint {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}
